/* this changes the font for the whole page*/
*{
    font-family: Arial;
}
/* this changes the h1 and h3 text to times new roman and makes it blue*/
h1, h3{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
/* this adds a deep pink background to the body*/
body{
    background-color: deeppink;
}
/* this adds a background to each article that has a gradient effect, rounds out the border, adds padding and box-shadow*/
article {
  border-radius: 0.75em;
    background: linear-gradient(to bottom, #f0f9ff, #cbebff);
    padding: auto;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
  }  
/* this changes the header text to white, rounds out the border, adds a background image to the head, adds padding, adds box-shadow, adds text-shadow, and includes size restrictions*/
header {
  background-image:url( https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
  border-radius: 0.75em;
  background-size: cover;
    color: white;
    padding: auto;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
  }
  /* this change the a tag text to lightseagrean and has none text-decreation*/
  a {
    color: lightseagreen;
    text-decoration: none;
  }
  /* this adds an underline*/
  a:hover {
    text-decoration: underline;
  }
  /* this moves text to directly below photo, changes the size of the image, adds box-shadow, rounds out the border, adds a solid lightseagreen border and margin-bottom*/
  img{
    height: 20%;
    display: block;
    border: solid lightseagreen;
    border-radius: 0.75em;
    margin-bottom: auto;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  }
  /* adds bottom border to header*/
.subheading{
  border-bottom: solid lightseagreen;
}