/* this changes the font for the whole page*/
*{
    font-family: Arial;
}
/* this changes the h1 and h3 text to times new roman and makes it blue*/
h1, h3{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
/* this adds a deep pink background to the body*/
body{
    background-color: deeppink;
}
/* this adds a background to each article that has a gradient effect*/
article {
    background: linear-gradient(to bottom, #f0f9ff, #cbebff);
  }  
  /* this adds a background image to the head and includes size restrictions*/
head{
    background-image: url(https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
}
/* this changes the header text to white*/
header {
    color: white;
  }
  /* this change the a tag text to lightseagrean and has none text-decreation*/
  a {
    color: lightseagreen;
    text-decoration: none;
  }
  /* this adds an underline*/
  a:hover {
    text-decoration: underline;
  }